<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/public/style.css"> 
	</head>

	<body>
		<h1 id="title">Yu-Ting, You's Page</h1>
		<h2><%= name %>，你好R！</h2>
		<div>
			<div class="post">
				<h3>Ｂｉｒｔｈｄａｙ</h3>
				<p>1995/12/05</p>
			</div>
			<div class="post">
				<h3>Ｉｎｔｅｒｅｓｔｓ</h3>
				<ul>
					<li>唱歌</li>
					<li>游泳</li>
					<li>彈鋼琴</li>
					<li>看電影</li>
					<li>看小說(推理/武俠)</li>
					<li>聽音樂(周杰倫!!!!!!!!!)</li>
					<li>出去玩</li>
				</ul>
			</div>
			<div class="post">
				<h3>Ｓｏｃｉｅｔｙ</h3>
				<ul>
					<li>校(桃)友會</li>
					<li>藍天社(帶營隊)</li>
					<li>課輔志工社</li>
					<li>游泳校隊</li>
				</ul>
			</div>
			<div class="post">
				<h3>Ｆａｖｏｒｉｔｅ　ｃｌａｓｓ</h3>
				<ul>
					<li>程式設計(雖然我被當了XDDDD)</li>
					<li>會計學(初/中)</li>
					<li>法學緒論(以後告人說不定用得到)</li>
					<li>日文(紅豆泥~)</li>
				</ul>
			</div>
			<div class="post">
				<h3>Ｌｏｖｅｄ　ｃｏｕｎｔｒｙ</h3>
				<ul>
					<li>台灣</li>
					<li>日本</li>
					<li>歐洲(希望有機會能去玩)</li>
					<li>非洲(想跟動物一起在大草原奔馳)</li>
				</ul>
			</div>
			<div class="post">
				<h3>Ｔａｌｅｎｔｓ</h3>
				<ul>
					<li>喝水(每天2000cc是最基本R)</li>
					<li>鋼琴(簡單的流行歌/小奏鳴曲)</li>
					<li>烏克麗麗(可以幫你打節拍伴奏)</li>
					<li>游泳(至少會前進)</li>
					<li>睡覺(想睡無論多吵都能睡而且吵不醒那種)</li>
					<li>唱歌(音是對的)</li>
				</ul>
			</div>

	</body>
</html>