body {
    font-family: Monospace, "Times New Roman", Verdana, "Microsoft JhengHei";
}
#title {
    background-color: #DDA0DD;
    text-align: center;
    font-size: 40px;
    padding: 15px;
    border-radius: 100px;
    margin: 20px;
}

.hello {
    text-align: center;
}

.post {
    background-color: #B0E0E6;
    text-align: left;
    padding: 30px;
    padding-top: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

    .post h3 {
        font-size: 30px;
        text-align: center;
        text-color: #000080;
    }

    .post p {
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        width: 50%;
        line-height: 18px;
        letter-spacing: 1px;
    }